@charset "utf-8";
/* 
    Author: Alex A Somoza
    Date: 1-23-29
 */

/* html styles */
html {
    background: url(com_code.jpg);
    background-size: cover;
}

header img {
    width: 100%;
}

body {
    background-color: rgba(102, 106, 153, .90);
    height: 100%;
    width: 100%;
    margin: 0px auto 0px auto;
}